@import 'core/variables';
@import 'core/reset';
@import 'core/mixins';
@import 'core/animation';
@import 'layout/1page';

@import 'pages/2index';
@import 'layout/design';
@import 'layout/share';
@import 'layout/fill';
@import 'layout/result';

@import 'pages/2interactive';
